<div class="modal" [class.show]="show">
  <div class="modal-header">
    <div class="modal-title">
      <ng-content select="[app-ui-modal-header]"></ng-content>
    </div>
    <a class="close" (click)="handleClose($event)">
      <i class="iconfont icon-close"></i>
    </a>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <ng-content select="[app-ui-modal-footer]"></ng-content>
  </div>
</div>
<div class="backdrop-background" [class.show]="show"></div>
